@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

:root {
  font-family: "Open Sans", sans-serif, "Departure Mono";
  line-height: 1.5;
  font-weight: 400;
  font-size: .9rem;
  letter-spacing:0.5px;

  --text-color: #364153;
  --bg-color: #ebeff8;
  --bg-color-white: #ffffff;

  /* color-scheme: light dark; */
  /* color: #213547; */
  color: var(--text-color);
  background-color: var(--bg-color);

  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
}
#root {
  width: 100%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
